<p id="notice"><%= notice %></p>

<p>
  <h3><%= @project.title %></h3>
  <h3><small>Organization - <%= current_tenant.name %></small></h3>
</p>

<p>
  <strong>Details:</strong>
  <%= @project.details %>
</p>

<p>
  <strong>Expected completion date:</strong>
  <%= @project.expected_completion_date %>
</p>

<p>
  <strong>Account:</strong>
  <%= @project.account %>
</p>

<%= link_to 'Back to Organization Home', root_path, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" %>
<%= link_to 'Delete', @project, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
